<section class="people">
    <div class="people__container">
        <h2 class="people__title">People Are Talking About Fork</h2>
        <div class="people__cards">
            <div class="people__card">
                <img class="card__pic--smash" src="@img/reviews_section/talking_1.png" alt="smashing" width="165px" height="43px">
                <p class="card__desc">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </div>
            <div class="people__card">
                <img class="card__pic--drops" src="@img/reviews_section/talking_2.png" alt="codrops" width="148px" height="50px">
                <p class="card__desc">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </div>
            <div class="people__card">
                <img class="card__pic--w" src="@img/reviews_section/talking_3.png" alt="w" width="64px" height="64px">
                <p class="card__desc">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </div>
            <div class="people__card">
                <img class="card__pic--budha" src="@img/reviews_section/talking_4.png" alt="pixel_budha" width="225px" height="24px">
                <p class="card__desc">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
            </div>
            <div class="people__card">
                <img class="card__pic--creative" src="@img/reviews_section/talking_5.png" alt="creative_bloq" width="164px" height="34px">
                <p class="card__desc">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lotoRem id arcu consequat faucibus.</p>
            </div>
            <div class="people__card">
                <img class="card__pic--tnw" src="@img/reviews_section/talking_6.png" alt="tnw" width="108px" height="34px">
                <p class="card__desc">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </div>
        </div>
        <div class="people__footer">
            <p class="footer__desc">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <hr class="footer__line">
        </div>     
    </div>
</section>