.get{
   
    font-family: 'Montserrat';
    font-style: normal; 
    

    
    &__content-box{
        margin: toRem(95) 0 toRem(6) 0;
        min-width: toRem(320);
        position: relative;
        
    }
    &__container{
        flex-direction: column;
        @include flex-center;
        margin: 0 auto;
      
    }
    &__title-box{
       
        text-align: center;
        padding: 0 toRem(30);
        margin-bottom: toRem(-20);
    }
    &__title{
        
        font-size: toRem(32);
        line-height: toRem(38);
        font-weight: 700;
        color: $primary-violet;
        
    }
    &__title::after{
        content: '>';
       color: $primary-violet;
    }
    &__title::before{
        content: '<';
        color: $primary-violet;
    }
    &__list{
        text-align: center;
    min-width: toRem(277);
       padding: 0;
    }
    &__item{
        margin-top: toRem(36);
        
    }
    
    &__img--onright{
       margin-left: toRem(25);
    }

    &__item-title{
        
        font-size: toRem(16);
        font-weight: 400;
        line-height: toRem(16);
        color: $accent-grey;
       
    }
    
    &__item-text{
       
        font-size: toRem(14);
        font-weight: 400;
        line-height: toRem(21);
        color: $light-grey;
        
    }
    
    &__screen-shot{
       margin-top: toRem(95);
        
    }
    &__img-screen{
       
    
    width: 90%;
   height: toRem(381);
   float: right;

    }
    }
    
    
    @media (min-width: 481px) {
        .get{
           
            &__content-box{
                margin-top: toRem(140);
                width: 100%;
            }
           
            &__title-box{
                padding: 0;
            }
            &__title{
                
                margin-top: 0;
                
                font-size: toRem(42);
                line-height: toRem(44);
            }
            &__list{
                margin: 0 auto;  
            }
            &__item{
               display: flex;
               align-items: center;
               
            }

            &__item-text-box{
               
                text-align: justify;
                width: 70%;
                
            }
            &__img--onright{
                margin-left: toRem(18);
                
                
             }
            &__img-box{
                width: toRem(114);
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-right: toRem(20);
            }
            &__screen-shot{
               width: auto;
                
              

                
            }
            &__img-screen{
            
                
                width: 90%;
                height: toRem(519); 
                float: right;
            }
        }
    }

    @media (min-width: 650px){
        .get__item-text-box{
             
            
         width: toRem(500);
            
        }
        .get__img-screen{
            
           
            width: 90%;
           height: auto;
           
           
        }
        
    }
    @media (min-width: 993px){
        
        .get{
            background: #F4F4F4;
            padding-bottom: toRem(35);
            margin-top: toRem(70);
            
            
        &__content-box{
              display: block;
              position: relative;
        } 

        &__container{
            display: flex;
            flex-direction: row;
          
        
       
        }
       
        &__title{
            
            position: absolute;
            top: toRem(50);
            left: 49%;
            padding: 0;
        
        }
        &__list{
            width: toRem(550);
            margin-right: toRem(-30);
        }
        &__img-box{
            width: toRem(111);
            text-align: center;
            justify-content: end;
            align-items: center;
            margin-right: toRem(20);
        }
        &__img-box--move{
            margin-right: toRem(15);
        }
        
        &__item-text-box{
               
            text-align: justify;
            width: toRem(350); 
        
        }
        &__img--onright{
            margin-left: toRem(10);
            
       
        }
        &__screen-shot{
            margin-top: toRem(100);
            width: auto;
            height: toRem(600);
        }
        &__img-screen{
       
           
            width: 90%;
            height: toRem(519);
            float: right;
         
         }
    
}}


    @media (min-width: 1200px){
        .get{
            @include flex-center;
            margin-top: toRem(70);
            margin-left: auto;
            margin-right: auto;
            padding-bottom: toRem(35);
            padding-top: toRem(98);
        }
            
        
   .get{
        
        &__content-box{
              max-width: toRem(1200);
              margin: toRem(0) auto toRem(0) auto;
        }
       
        &__title{
            font-size: toRem(48);
            line-height: toRem(50);

        }
        &__list{
            width: toRem(550);
            margin-right: toRem(25);

        }
        &__img-box{
            margin-right: toRem(30);
        }
        &__img-box--move{
            margin-right: toRem(16);
        }
        &__item-text-box{
               
            text-align: justify;
           width: toRem(405); 
 
           padding: 0;
       
        }
        &__title{
            left: 45%;
        }
        &__img-screen{
       
           width: 100%;
           height: 100%;
         }
         &__screen-shot{
            margin-top: toRem(120);
        }
    }
    }