.header{
    background-image: url("../img/header-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 320px) {
        min-width: toRem(320);
    }
}

.header__container{
    margin: 0 auto;
    max-width: toRem(1200);
    @media screen and (max-width: 320px) {
        max-width: toRem(320);
    }
}

.header__menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1toRem;
}

.header__body{
    @include flex-center;
    padding: 0 10px;
    padding: toRem(30) 0 toRem(30) 0;
    margin-bottom: toRem(96);
    overflow-x: hidden;

    @media screen and (max-width: 481px) {
        height: toRem(103);
        margin-bottom: toRem(50);
    }
    @media screen and (max-width: 992px) {
        background: #27262A;
        height: toRem(118);
        padding: 0 10px;
        margin-bottom: toRem(69);
    }
}

.header__logo {
    color: $primary-violet;
    display: flex;
    align-items: center;
    column-gap: toRem(17);
    margin-right: toRem(312);
    max-width: toRem(160);
    .logo__img{
        width: toRem(43); 
        height: toRem(41);
    }
    .logo__img--hover{
        width: toRem(43); 
        height: toRem(41);
        display: none;
    }
    &:hover .logo__img {
        display: none;
    }
    &:hover .logo__img--hover {
        display: block;
    }

    @media screen and (max-width: 481px) {
        position: absolute;
        left: toRem(20);
        top: toRem(32);
    }

    @media screen and (min-width: 481px) and (max-width: 992px) {
        position: absolute;
        left: toRem(20);
        top: toRem(22);
    }
    @media screen and (max-width: 1170px) {
        margin-right: toRem(104);
    }
}

.logo__text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5toRem;
    line-height: 1toRem;
    @media screen and (max-width: 481px) {
        display: none;
    }
}

.header__logo:hover{
    color: $white;
}

.header__list{
    @include flex-center;
    flex-wrap: nowrap;
    column-gap: toRem(47);
    padding: 0;
    @media screen and (max-width: 520px) {
        column-gap: toRem(35);
    }

    @media screen and (max-width: 481px) {
       display: none;
       top: 0;
    }

    @media screen and (max-width: 992px) {
        position: relative;
        top: toRem(30);
    }
    
}

.header__link{
    color: $primary-violet;
    white-space: nowrap;

}
.header__link:hover{
    color: $white;
}
.header__button {
    margin-left: toRem(47);
    @include button;
    min-width: toRem(145);
    height: toRem(37);
    font-weight: 700;
    line-height: toRem(17);
    

    @media screen and (max-width: 481px) {
        position: absolute;
        top: toRem(34);
        right: toRem(92);
        min-width: toRem(119) ;
    }
 
    @media screen and (min-width: 481px) and (max-width: 992px) {
        position: absolute;
        top: toRem(24);
        right: toRem(20);
    }

}
.header__button:hover{
    @include buttonHover;
}
.header__desc{
    @include flex-center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: toRem(713);
    padding: 0 toRem(10);

    @media screen and (max-width: 481px) {
        max-width: toRem(299);
    }
 
    @media screen and (min-width: 481px) and (max-width: 992px) {
        max-width: toRem(600);
        
    }
}
.header__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: toRem(82);
    line-height: toRem(82);
    color: #fff;
    padding-bottom: toRem(19);
    margin: 0;

    @media screen and (max-width: 481px) {
        font-size: toRem(48);
        line-height: toRem(48);
    }
 
    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: toRem(72);
        line-height: toRem(72);
        
    }
}
.header__text{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: toRem(30);
    line-height: toRem(30);
    color: $primary-violet;
    padding-bottom: toRem(19);
    @media screen and (max-width: 481px) {
        font-family: 'Montserrat', sans-serif; 
        font-weight: 400;
        font-size: toRem(18); 
        line-height: toRem(18);
        text-transform: capitalize;
    }
 
    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: toRem(24);
        line-height: toRem(24);
        
    }
}
.header__info{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: $light-grey;
    padding-bottom: toRem(459);
    text-transform: uppercase;

    @media screen and (max-width: 481px) {
        font-size: toRem(14);
        line-height: toRem(14);
        padding-bottom: toRem(387);
    }
 
    @media screen and (min-width: 481px) and (max-width: 992px) {
        font-size: toRem(14);
        line-height: toRem(14);
        padding-bottom: toRem(407);
    }
}

.header__download{
    @include flex-center;
    flex-direction: column;
    position: relative;
    top: toRem(62);
    font-family: 'Montserrat', sans-serif;
    @media screen and (max-width: 481px) {
        top: 0;
    }
    .download__button{
        @include button;
        width: toRem(390);
        height: toRem(62);
        font-weight: 700;
        font-size: toRem(21);
        line-height: toRem(21);
        margin-bottom: toRem(18);
        
        @media screen and (max-width: 481px) {
            width: toRem(290);
            height: toRem(45);
            font-size: toRem(18);
            line-height: toRem(20);
            margin-bottom: toRem(13);
        }
    }
    .download__button:hover{
        @include buttonHover;
        border: 2px solid $primary-violet;
    }
    .download__text{
        color: $light-grey;
        font-weight: 400;
        font-size: toRem(14);
        line-height: toRem(15);
        @media screen and (max-width: 481px) {
            font-size: toRem(14);
            line-height: toRem(14);
        }
    }
}

@media (max-width: 481px){
    .header{
        height: toRem(718);
    }
}


.header__body{
    
    @media (max-width: 481px){
    position: relative;
    justify-content: flex-end;
    }
}

@media (max-width: 481px){
    .header__list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    height: toRem(88);
    padding: 0px 0px 0px 39px;
    border-top: 3px solid #3B3B3B;  
}

.header__list li:first-child{
    border-top: none;
}
.header__list li:last-child{
    border-bottom: 3px solid #3B3B3B;;
}
}

@media (max-width: 481px) {
    body.lock{
        overflow: hidden;
    }
    .header__body{
        height: toRem(103);
    }
    .header__burger {
        display: block;
        position: relative;
        width: toRem(26);
        height: toRem(23);
        z-index: 3;
        right: toRem(5);
        top: toRem(3);
    }
    .header__burger span{
        position: absolute;
        background-color: white;
        border-radius: toRem(5);
        width: toRem(26);
        height: toRem(3);
        top: toRem(10);
        transition:  all 0.3s ease 0s;
    }
    .header__burger::before,
    .header__burger::after{
        content: '';
        border-radius: 5px;
        background-color: white;
        position: absolute;
        width: toRem(26);
        height: toRem(3);
        transition:  all 0.3s ease 0s;
    }
    .header__burger::before{
        width: toRem(15);
        left: toRem(10);
    }
    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }

    .header__burger.active::before{
        transform: rotate(45deg);
        top: toRem(7);
        width: toRem(26);
        left: toRem(1);
    }
    
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: toRem(13);
    }
    .header__menu{
        position: fixed;
        right: toRem(14);
        top: -100%;
        width: toRem(292);
        height: toRem(379);
        overflow: auto;
        background-color:  #333333;
        transition:  all 0.3s ease 0s;
    }

    .header__menu.active{
        top: toRem(103);
    }
    .header__list{
        display: block;
        top: 0;
        margin: 0;
    }
    .header__link {
        color: white;
        position: relative;
        top: toRem(34);
        letter-spacing: 1.1px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: toRem(26);
        line-height: toRem(26);
    }
    .header__list li a:hover{
        color: $primary-violet;
        &::after{
            content: '';
            background-color: $primary-violet;
            display: block;
            position: relative;
            width: toRem(8);
            height: toRem(53);
            right: toRem(39);
            bottom: toRem(41);
        }
    }
}
