

.pricing{
    background-image: url("../img/layer-bg_2_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: toRem(14);
    padding-bottom: toRem(100);
    min-width: toRem(320);
}
.pricing{

&__container{
    font-family: 'Montserrat';
    font-style: normal;
    max-width: toRem(1200);
    flex-direction: column;
    @include flex-center;
    margin: 0 auto;
    text-align: center;
    padding: 0 toRem(10);

}
&__title{
   
font-size: toRem(28);
font-weight: 700;
line-height: toRem(42);
color: $white;
margin: toRem(10) auto 0 auto;

}
&__list{
    margin: 0;
    padding: 0;
    
}
&__item{
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: toRem(257); 
    height: toRem(460); 
   

    background: rgba(255, 255, 255, 0.11);
    margin-top: toRem(18);
}

&__item--active{
    background: rgba(70, 48, 72, 0.84);
    width: toRem(299); 
    height: toRem(560);
   
 

}
&__item-link-box{
    background: rgba(255, 255, 255, 0.06);
    width: toRem(256); 
    height: toRem(97); 
   
   
    @include flex-center;
    text-transform: uppercase;
}
&__item-link-box--active{
    background: rgba(0, 0, 0, 0.11);
    height: toRem(111);
    width: toRem(299);
    
}

&__link{
    
font-size: toRem(24);
font-weight: 400;
line-height: toRem(24);
color: $white;

}

&__item-content{
   
    display: flex;
    flex-direction: column;
   
    justify-content:space-between;
    align-items:center;
    
    padding: toRem(20) toRem(23) toRem(0) toRem(23); 
   
}

&__item-content--active{
    
    padding: toRem(14) toRem(54) toRem(0) toRem(54);
}
&__item-price{
    
font-size: toRem(60);
font-weight: 700;
line-height: toRem(90);
color: $white;

}
&__currency{
    font-size: toRem(60);
font-weight: 400;
line-height: toRem(90);
color: $white;
}

&__item-price--active{
    font-size: toRem(82);
font-weight: 700;
line-height: toRem(90);
margin-bottom: toRem(16);
}

&__currency--active{
    font-size: toRem(82);
    font-weight: 400;
    line-height: toRem(90);
}

&__item-month{
    
font-size: toRem(14);
font-weight: 400;
line-height: toRem(16);
color: #fff;
text-transform: uppercase;
}

&__item-divide{
    background-color: $primary-violet;
    border: none;
    width: toRem(60);
    height: toRem(5);
    margin-top: toRem(38);
    margin-bottom: toRem(30);
}

&__item-divide--active{
    margin-top: toRem(46);
    margin-bottom: toRem(40);
}
&__item-license{
font-size: toRem(16);
font-weight: 400;
line-height: toRem(28);
color: $white;
height: toRem(32);
margin-bottom: toRem(37);

}
&__item-btn{
    
font-size: toRem(15);
font-weight: 400;
line-height: toRem(15);
color: $white;
background-color: rgba(255, 255, 255, 0.15);
width: toRem(163);
height: toRem(45);
border-radius: toRem(50);
border: none;
text-transform: uppercase;
margin-top: toRem(20);
}

&__item-btn--active{
    width: toRem(190);
    height: toRem(52);
    margin-top: toRem(55);
}
}

@media (min-width: 481px){
    .pricing{
        padding-bottom: rem(150);
        
        &__title{
            font-size: toRem(42);
            line-height: toRem(44);
            margin-bottom: toRem(39);
            margin-top: toRem(98);  
        }
        
    }
}
@media (min-width: 590px){
    .pricing{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: rem(595);
        
    }
    &__item{
       margin-right: 0;
       margin-left: toRem(25);

    }
    &__item--active{
       margin-left: toRem(-16);
    }
    &__item--center{
        margin-top: toRem(60);
        
    }
}
}

@media (min-width: 993px){
    .pricing{

        &__title{
            font-size: toRem(48);
            line-height: toRem(50);
            margin-bottom: toRem(112);
            margin-top: toRem(112);  
        }
        &__list{
            display: flex;
            flex-wrap: wrap;
            width: auto;
            gap: toRem(15);
            align-items: center;
            
          
    
  
        }
        &__item{
           margin-right: 0;
           margin-left: 0;
    
        }
        &__item--active{
           margin-left: 0;
        }
        &__item--center{
            margin-top: 0;
            
        }

    }
}

