
.rev{
   
&__container{
    flex-direction: column;
    @include flex-center;
    margin: 0 auto;
    min-width: toRem(320);
    padding: 0 toRem(10);
}
&__title{
    font-family: 'Montserrat';
    font-style: normal;
    text-align: center;
    padding: 0 1toRem;
    text-transform: uppercase;
    margin-top: toRem(120);
    margin-bottom: toRem(27);
    font-size: toRem(26);
    font-weight: 700;
    line-height: toRem(28);
    color: $primary-grey;
}
&__subtitle{
    font-family: 'Lato';
    font-style: normal;
    max-width: toRem(861);
    margin-top: 0;
    margin-bottom: toRem(22);
    text-align: center;
    font-size: toRem(14);
    font-weight: 400;
    line-height: toRem(20);
    color: $accent-grey;
}
&__list-views{
    list-style-type: none;
    @include flex-center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    
    
}
&__item-views{
    justify-content: space-between;
    margin-right: 0.94toRem;
    margin-bottom: 1toRem;
    
   
}
&__btn-box{
   height: toRem(26);
   border-radius: toRem(4);
   border: 2px solid #DDDDDD;
  
    
   
  }
&__btn{
    border-radius: toRem(6) 0 0 toRem(6);
    background: linear-gradient(to top, #EEEEEF, #FBFBFB);
    border:none;
    border-right: 2px solid #DDDDDD; ;
    height: toRem(26);

}

&__svg{

    vertical-align: text-top;
}
&__svg--center{
    margin-top: 1px;
    
}
&__name{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: toRem(16);
    font-weight: 700;
    line-height: toRem(20);
    color:$accent-grey;
   
}
&__count{
   
    font-family: 'Lato';
    font-style: normal;
    font-size: toRem(13.5);
    font-weight: 700;
    line-height: toRem(16);
    color:$accent-grey;
    margin-right: toRem(7);
    margin-left: toRem(3);
}
}

@media (min-width: 481px) {
  .rev{
        
        &__title{
            text-align: center;
            text-transform: uppercase;
            margin-top: toRem(150);
            margin-bottom: toRem(27);
            font-size: toRem(42);
            font-weight: 700;
            line-height: toRem(42);
            
        }
        &__subtitle{
            display: flex;
            text-align: center;
            font-size: toRem(21);
            font-weight: 400;
            line-height: toRem(32);
           
        }
        &__btn-box{
            height: toRem(30);
           
           }
        &__btn{
              height: toRem(30);
         
         }
        }
    
    }

    @media (min-width: 993px){
        .rev__title{
                margin-top: toRem(123);
                margin-bottom: toRem(35);
                font-size: toRem(54);
                line-height: toRem(54); 
            }
           
    }   